.container{
  width: 90%;
  margin: 0 auto;
  /* background-color: aquamarine; */
  padding: 1em;
  display: flex;
}

.test-bg{
  /* background-color: blue; */
}

.link-tab{
  padding: 0.5em;
  display: inline-block;
  min-width: 100px;
  text-align: center;
  border: 2px solid transparent;
}

.selected{
  border-radius: 10px 10px 0 0;
  border: 2px solid white;
  background-color: rgb(179, 41, 172);
  border-bottom: none;
}

.item-list{
  width: 250px;
  border: 1px dotted white;
  border-radius: 10px;
  overflow-x: hidden;
}

.item-list+.item-list{
  margin-left: 1em;
}

.img-show{
  height: 140px;
  background-color: rgb(10, 137, 101);
  /* background: url('https://img.youtube.com/vi/vh1ZwFbHUug/0.jpg'); */
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  display: block !important;
}

.img-show:hover{
  cursor: pointer;
}

.info-show{
  background-color: rgb(52, 43, 93);
  display: flex ;
  flex-direction: column;
  align-items: center;
  padding-top: 0.1em;
}

.d-flex{
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

nav.container{
  border-bottom: 1px solid white;
  padding-bottom: 0;
}

.high-tag{
  color: rgb(230, 40, 237);
}